<section class="advice">
    <div class="wrapper">
        <div class="advice__wrap">
            <img alt="plate" src="../img/dinner.jpg" class="advice__img">
            <h2 class="advice__title">Совет по питанию</h2>
            <p class="advice__text">Правильное питание требует определенной привычки и усилий на начальном этапе. Базируется ПП на трех принципах, которые обусловлены рациональностью этого типа питания: ьностью</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="diet">
            <img src="../img/dinner-is-served.jpg" alt="plate" class="diet__img">
            <a href="#" class="diet__link">В рационы</a>
            <img src="../img/diet-arrow.png" alt="arrow" srcset="">
        </div>
    </div>
</section>
