<section class="advice">
    <div class="wrapper">
        <div class="advice__wrap">
            <picture>
                <source media="(min-width: 1024px") srcset="./img/dinner-is-served-xl.jpg">
                <img alt="plate"
            src="./img/dinner.jpg" class="advice__img">
            </picture>
            <h2 class="advice__title">Совет по питанию</h2>
            <p class="advice__text">Правильное питание требует определенной привычки и усилий на начальном этапе. Базируется ПП на трех принципах, которые обусловлены рациональностью этого типа питания: обусловлены рациональностью этого типа питания: ьностью 
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="diet">
            <picture>
                <source media="(min-width: 1024px") srcset="./img/dinner-xl.jpg">
                <img alt="plate"
            src="./img/dinner-is-served.jpg" class="diet__img">
            </picture>
            <a href="#" class="diet__link">В рационы</a>
            <img src="./img/diet-arrow.png" class="diet__arrow" alt="arrow">
        </div>
    </div>
</section>
