<header class="header">
    <div class="header__wrap">
        <div class="header__logo-wrap">
            <img src="./img/logo.png" alt="logo" class="header__logo-img">
            <div class="header__logo">
                <h1 class="header__logo-title"><a href="#">Home<span>fit</span></a></h1>
                <p class="header__logo-subtitle">company slogan</p>
            </div>
        </div>
        <div class="header__user">
            <div class="header__avatar-wrap">
                <img src="../img/user.jpg" alt="user-icon" class="header__user-avatar">
            </div>
            <div class="header__user-info">
                <span class="header__user-mame" id="user-name">Екатерина</span>
                <span class="header__user-city" id="user-city">Москва</span>
            </div>
        </div>
        <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line burger__line--center"></div>
            <div class="burger__line"></div>   
        </div>
        <div class="burger-wrap">
            <ul class="burger-wrap__links">
                <li>
                    <img src="../img/home.png" alt="home" class="nav__icon"> 
                    <a class="nav__link" href="#">Главная</a>
                </li>
                <li>
                    <img src="../img/programm.png" alt="programm" class="nav__icon">
                    <a class="nav__link" href="#">Программа питания</a>
                </li>
                <li>
                    <img src="../img/trainee.png" alt="trainee" class="nav__icon" style="height: 25px; width: 15px;">
                    <a class="nav__link" href="#">Тренировка дня</a>
                </li>
                <li>
                    <img src="../img/report.png" alt="report" class="nav__icon"> 
                    <a class="nav__link" href="#">Отчеты</a>
                </li>
                <li>
                    <img src="../img/base.png" alt="base" class="nav__icon"> 
                    <a class="nav__link" href="#">База знаний</a>
                </li>
                <li>
                    <img src="../img/costs.png" alt="costs" class="nav__icon"> 
                    <a class="nav__link" href="#">Тарифы и оплата</a>
                </li>
                
            </ul>
        </div> 
    </div>

</header>
