<section class="inventory">
    <h2 class="inventory__title">Что нужно взять на тренировку</h2>
    <div class="inventory__items">
        <div class="inventory__item">
            <img src="../img/grip-strength1.jpg" alt="grip" class="inventory__bg">
            <span class="inventory__name">Дополнительный вес</span>
            <p class="inventory__text">Работа с дополнительным весом позволяет создать хороший тренировочный стресс, а так же позволяет сжечь больше калорий.</p>
        </div>
        <div class="inventory__item">
            <img src="../img/cover.jpg" alt="cover" class="inventory__bg">
            <span class="inventory__name">Мягкий коврик</span>
            <p class="inventory__text">Коврик необходим нам для комфортного выполнения упражнений в лежачем или сидячем положении.</p>
        </div>
        <div class="inventory__item">
            <img src="../img/kayano.jpg" alt="shoes" class="inventory__bg">
            <span class="inventory__name">Спортивная обувь</span>
            <p class="inventory__text">Правильные кроссовки не только защищают от травм, еще они помогают соблюдать технику упражнений.</p>
        </div>
        <div class="inventory__item">
            <img src="../img/water.jpg" alt="bottle" class="inventory__bg">
            <span class="inventory__name">Питьевая вода</span>
            <p class="inventory__text">Обязательно в течение всей тренировки пьем воду.</p>
        </div>
    </div>
</section>
