<section class="food">
    <div class="wrapper" style="width: 100%;">
        <div class="food__wrap">
            <h2 class="food__title">
                Программа питания
            </h2>
            <div class="food__items">
                <div class="food__item">
                    <div class="food__icon-wrap">
                        <img src="./img/meat.png" alt="meat" class="food__icon">
                    </div>
                    <div class="food__number">
                        <span class="food__count">100</span>
                        <span class="food__name">Белки</span>
                    </div>   
                </div>
                <div class="food__item">
                    <div class="food__icon-wrap">
                        <img src="./img/fat.png" alt="fat" class="food__icon">
                    </div>
                    <div class="food__number">
                        <span class="food__count">50</span>
                        <span class="food__name">Жиры</span>
                    </div>   
                </div>
                <div class="food__item">
                    <div class="food__icon-wrap">
                        <img src="./img/bread.png" alt="bread" class="food__icon">
                    </div>
                    <div class="food__number">
                        <span class="food__count">120</span>
                        <span class="food__name">Углеводы</span>
                    </div>   
                </div>
                <div class="food__item">
                    <div class="food__icon-wrap">
                        <img src="./img/calories-calculator.png" alt="calculator" class="food__icon">
                    </div>
                    <div class="food__number">
                        <span class="food__count">2000</span>
                        <span class="food__name">Каллории</span>
                    </div>   
                </div>
               
            </div>
        </div>
    </div>
</section>
