<section class="progress">
    <div class="wrapper">
        <div class="progress__wrap">
            <h2 class="progress__title">
                Ваш прогресс
            </h2>
            <span class="progress__subtitle">
                Прогресс вашего похудения
            </span>
            <div class="progress__weeks-wrap">
                <span class="progress__kg">
                    Килограммы
                </span>
                <div class="progress__weeks">
                    <div class="progress__items">
                        <div class="progress__item">
                            <span class="progress__number-top">60</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    <span class="progress__number">1</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">60</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    <span class="progress__number">2</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">40</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    <span class="progress__number">3</span>
                                </div> 
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">56</span>
                            <div class="progress__line">
                                <div class="progress__line-bg" style="background: #ff6e6e;height: 80px;">
                                <span class="progress__number">4</span>
                              </div>
    
    </div>                    </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">

                              <span class="progress__number">5</span>

</div>                        </div>
                        </div>
                        <div class="progress__item active">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg" style="background: #60a865;height: 66px;">

                              <span class="progress__number">6</span>

</div>                        </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">

                              <span class="progress__number">7</span>

</div>                        </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">

                              <span class="progress__number">8</span>

</div>                        </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">

                              <span class="progress__number">9</span>

</div>                        </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">10</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">11</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">12</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">13</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">14</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">15</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">16</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">17</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">18</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">19</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__item">
                            <span class="progress__number-top">44</span>
                            <div class="progress__line">
                                <div class="progress__line-bg">
                                    
                            <span class="progress__number">20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="progress__text">
                        Недели
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
