<section class="schedule">
        <div class="schedule-xl__wrap">
            <h2 class="schedule__title">Расписание тренировок</h2>
            <div class="schedule__table">
                <div class="schedule__col">
                    <div class="schedule__day">Пн</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule__col">
                    <div class="schedule__day">Вт</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-32%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-32%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-32%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule__col">
                    <div class="schedule__day">Ср</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-49%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-49%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-49%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                </div>
                <div class="schedule__col">
                    <div class="schedule__day">Чт</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-65%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-65%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/practice.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-65%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule__col">
                    <div class="schedule__day">Пт</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-81%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-81%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/gym.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-81%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/gym.png" alt="icon" class="popup__icon">
                            <img src="./img/gym.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule__col">
                    <div class="schedule__day">Сб</div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-95%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-95%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                    <div class="schedule__icon-wrap">
                        <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                        <div class="schedule__popup popup" style="transform: translateX(-95%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/exercise.png" alt="icon" class="popup__icon">
                            <img src="./img/exercise.png" alt="icon" class="popup__img">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="schedule-xl">
        <div class="schedule-xl__wrap">
            <h2 class="schedule-xl__title">Расписание тренировок</h2>
            <div class="schedule-xl__table">
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Понедельник</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(30%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(30%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(30%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Вторник</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Среда</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Четверг</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Пятница</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                <div class="schedule-xl__col">
                    <div class="schedule-xl__day">Суббота</div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Силовая<br> тренировка</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(-60%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Табата<br>(в разроботке)</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(-60%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                    <div class="schedule-xl__icon-wrap">
                        <p class="schedule-xl__name">Stretch</p>
                        <div class="schedule-xl__popup popup" style="transform: translateX(-60%)">
                            <span class="popup__title">Силовая тренировка</span>
                            <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                            <img src="./img/practice.png" alt="icon" class="popup__icon">
                            <img src="./img/practice.png" alt="icon" class="popup__img">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</section>
