<section class="tasks">
    <div class="wrapper" style="width: 100%;">
        <div class="tasks__wrap">
            <h2 class="tasks__title">
                Задания от куратора
            </h2>
            <div class="tasks__items">
                <div class="tasks__item yesterday">
                    <span class="tasks__name">ПОНЕДЕЛЬНИК</span>
                    <span class="tasks__day">Вчера</span>
                    <p class="tasks__text">Окончила РГУФКСМиТ (Российский государственный университет физической культуры, спорта,  молодежи и туризма) с отличием, по специальности «Фитнес и аэробика».
                    </p>
                </div>
                <div class="tasks__item today">
                    <span class="tasks__name">ВТОРНИК</span>
                    <span class="tasks__day">Сегодня</span>
                    <p class="tasks__text">Окончила РГУФКСМиТ (Российский государственный университет физической культуры, спорта,  молодежи и туризма) с отличием, по специальности «Фитнес и аэробика».</p>
                </div>
                <div class="tasks__item tomorrow">
                    <span class="tasks__name">СРЕДА</span>
                    <span class="tasks__day">Завтра</span>
                    <p class="tasks__text">Окончила РГУФКСМиТ (Российский государственный университет физической культуры, спорта,  молодежи и туризма) с отличием, по специальности «Фитнес и аэробика».</p>
                </div>
            </div>
        </div>
    </div>
</section>
