<div class="wrap-trainer">
<section class="trainer">
    <div class="wrapper">
        <div class="trainer__wrap">
            <div class="trainer__img-wrap">
                <img src="./img/margo.jpg" alt="trainer" class="trainer__avatar">
            </div>
            <div class="trainer__info-wrap">
                <div class="trainer__info">
                    <h2 class="trainer__title">Ваш куратор</h2>
                    <span class="trainer__name">Марина</span>
                    <span class="trainer__description">Фитнес-тренер, нутрициолог.</span>
                    <a href="tel:+79032421207" class="trainer__tel">+7(903)242-12-07</a>
                    <div class="trainer__soc-links trainer__soc-links--desk">
                        <a href="#" class="trainer__soc-link">
                            <img src="./img/viber.png" alt="viber">
                        </a>
                        <a href="#" class="trainer__soc-link trainer__soc-link--desk">
                            <img src="./img/messenger.png" alt="messenger">
                        </a>
                        <a href="#" class="trainer__soc-link">
                            <img src="./img/telegram.png" alt="telegram">
                        </a>
                    </div>
                    <a href="mailto:marina@home-fit.online" class="trainer__mail">marina@home-fit.online</a>
                    <span class="trainer__work-time">Ежедневно с 10.00 до 19.00 по мск</span>
                </div>
                <div class="trainer__soc-links">
                    <a href="#" class="trainer__soc-link">
                        <img src="./img/viber.png" alt="viber">
                    </a>
                    <a href="#" class="trainer__soc-link">
                        <img src="./img/messenger.png" alt="messenger">
                    </a>
                    <a href="#" class="trainer__soc-link">
                        <img src="./img/telegram.png" alt="telegram">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-trainer">
    <div class="wrapper">
        <div class="about-trainer__wrap">
            <div class="about-trainer__aducation">
                <div class="about-trainer__icon">
                    <img src="./img/hat.png" alt="hat">
                </div>
                <p class="about-trainer__text"><span class="about-trainer__title">Имеет высшее образование в сфере физической культуры.</span><br></p>
            </div>
            <div class="about-trainer__aducation">
                <p class="about-trainer__text">Окончила РГУФКСМиТ (Российский государственный университет физической культуры, спорта, молодежи и туризма) с отличием, по специальности «Фитнес и аэробика».
                <br>Дипломированный диетолог-нутрициолог.</p>
            </div>
            <div class="about-trainer__aducation">
                <div class="about-trainer__icon">
                    <img src="./img/gantelya.png" alt="gantelya">
                </div>
                <p class="about-trainer__text"><span class="about-trainer__title">Кандидат в мастера спорта по кикбоксингу.</span></p>
            </div>
            <div class="about-trainer__aducation">
                <div class="about-trainer__icon">
                    <img src="./img/list.png" alt="list">
                </div>  
                <p class="about-trainer__text"><span class="about-trainer__title">Сертифицированный инструктор по <span class="red">Cross Core</span> и <span class="red">Iron System</span>. Международный сертификат WICF. </span>Участник семинара Релакс-тренинг (Wellcom).</p>
            </div>
            <div class="about-trainer__aducation">
                <div class="about-trainer__icon">
                    <img src="./img/reward.png" alt="reward">
                </div>
                <p class="about-trainer__text"><span class="about-trainer__title">Опыт работы в фитнес-индустрии</span><span class="red"> - 7 лет.</span></p>
            </div>
        </div>
    </div>
</section>
</div>   
