<section class="workout-prog">
    <div class="wrapper">
        <h2 class="workout-prog__title">Текущая программа тренировок</h2>
        <div class="workout-prog__wrap">
            <div class="workout-prog__lists">
                <img src="./img/my-workout-playlist.jpg" alt="workout" class="workout-prog__bg">
                <div class="workout-prog__list">
                    <span class="workout-prog__day">Понедельник</span>
                    <p class="workout-prog__text">Круговая тренировка + Stretch</p>
                </div>
                <div class="workout-prog__list">
                    <span class="workout-prog__day">Вторник</span>
                    <p class="workout-prog__text">Круговая тренировка + ABS Stretch</p>
                </div>
                <div class="workout-prog__list">
                    <span class="workout-prog__day">Среда</span>
                    <p class="workout-prog__text">Booty training</p>
                </div>
            </div>
            <div class="workout-prog__advice">
                <picture>
                    <source media="(min-width: 400px") srcset="./img/portrait-of-a-beautiful-xl.jpg">
                    <img src="./img/portrait-of-a-beautiful.png" alt="workout" class="workout-prog__bg workout-prog__bg--ad">
                </picture>
                <h2 class="workout-prog__title-ad">Совет по тренировкам</h2>
                <p class="workout-prog__text-ad">Правильное питание требует определенной привычки и усилий на начальном этапе. Базируется ПП на трех принципах, которые</p>
                <p class="workout-prog__text-ad">обусловлены рациональностью этого типа питания: ьностью</p>
                <p class="workout-prog__text-ad">Правильное питание 
                    требует определенной привычки и усилий на начальном этапе. Базируется ПП на трех принципах, которые</p>
                <p class="workout-prog__text-ad">обусловлены рациональностью этого</p>
            </div>
        </div>
    </div>
   
</section>
