<section class="workout-day">
    <h2 class="workout-day__title">Тренировки дня</h2>
    <div class="workout-day__wrap">
        <div class="workout-day__item">
            <span class="workout-day__name">Силовая  тренировка
            </span>
            <img src="./img/practice.png" alt="gantelay" class="workout-day__icon">
        </div>
        <div class="workout-day__item">
            <span class="workout-day__name">ABS Stretch
            </span>
            <img src="./img/gym.png" alt="woman" class="workout-day__icon">
        </div>
        <div class="workout-day__item">
            <span class="workout-day__name">Кардио  тренировка
            </span>
            <img src="./img/exercise.png" alt="cicling" class="workout-day__icon">
        </div>
        <div class="workout-day__link-wrap workout-day__link-wrap--768">
            <a href="#" class="workout-day__link">Перейти к тренировкам
            <img src="./img/play.png" alt="play" class="workout-day__link-icon workout-day__link-icon--768">
            </a>
        </div> 
    </div>
    <div class="wrapper wrapper--day">
        <div class="workout-day__link-wrap">
            <a href="#" class="workout-day__link">Перейти к тренировкам
            <img src="./img/play.png" alt="play" class="workout-day__link-icon">
            </a>
        </div> 
    
    </div>
</section>
