<section class="app-link">
    <div class="wrapper">
        <div class="app-links">
            <p class="app-links__title">Настоятельно рекомендуем Вам для<br> 
                удобства подсчета калорий установить<br> 
                на свой телефон приложение <span>Fatsecret</span></p>
            <div class="app-links__wrap">
                <div class="add-links__logo">
                    <img src="./img/fatsecret.png" alt="fatsecret" class="app-links__img">
                </div>
                <a href="#" class="app-links__link">
                    <img src="./img/android.png" alt="android" class="app-links__icon"></a>
                <a href="#" class="app-links__link">
                    <img src="./img/apple.png" alt="apple" class="app-links__icon"></a>
            </div>
        </div>
    </div>
</section>
