<section class="food-descr">
    <div class="wrapper">
        <div class="food-descript">
            <div class="food-descript__wrap-img">
                <img src="./img/atkins-diet-food.jpg" alt="atkins-diet" class="food-descript__img">
                <span class="food-descript__title">Из чего состоит дневной рацион?</span>
                <span class="food-descript__subtitle">Простые принципы, которым надо следовать.</span>
            </div>
            <ul class="food-descript__lists">
                <li class="food-descript__list">Все продукты взвешиваем на кухонных весах. Определение веса "на глаз" недопустимо.</li>
                <li class="food-descript__list">Мясо, рыба, птица взвешивается в сыром виде. Макароны, крупы в сухом виде.</li>
                <li class="food-descript__list">Во все приемы пищи необходимо включать жиры, белки и углеводы.</li>
                <li class="food-descript__list">Белки - xxx грамм. В переводе на продукты - это примерно ххх-ххх грамм сырого мяса/рыбы/птицы.<br>
                    <span>80% дневной нормы белка должны приходиться на животные источники: мясо, рыба, птица, яйца. (приоритетные продукты: говядина, красная рыба[семга], тунец, индейка, курица). Остальные 20% должны приходиться на молочные продукты и растительные белки.</span></li>
                <li class="food-descript__list">Жиры - ххх грамм. Необходимые жиры набираются из мяса, молочных продуктов и орехов.<br>
                    <span>Можно добавить в рацион рыбий жир или льняное масло - источники омега-3.</span></li>
                <li class="food-descript__list"> Углеводы - ххх грамм.  В переводе на продукты - это примерно ххх грамм макарон/гречки или ххх грамм риса в сухом виде.<br>
                    <span>Предпочтение отдавать сложным углеводам: гречка, овсянка, макароны из твердых сортов пшеницы, бобовые и т.д.</span></li>
                <li class="food-descript__list">Вода - <span>обязательно пьем достаточное количество питьевой воды в день. Необходимо выпивать 30 мл воды на 1 кг веса.</span></li>
                <li class="food-descript__list">Если хочется какой-нибудь "гадости", то заменяем ими углеводы. <span>Пример: 50 грамм шоколада = 290 калорий = 85 грамм макарон. То есть, если съели шоколадку, то макароны уже не едим. Самое главное не превышать норму калорий и держать норму белка в день.</span></li>
            </ul>
        </div>
    </div>
</section>
