<section class="food-prog">
    <div class="wrapper" style="width: 100%;">
        <div class="food-prog__wrap">
            <h2 class="food-prog__title">
                Программа питания
            </h2>
            <div class="food-prog__items">
                <div class="food-prog__item">
                    <div class="food-prog__icon-wrap">
                        <img src="./img/meat.png" alt="meat" class="food-prog__icon">
                    </div>
                    <div class="food-prog__number">
                        <span class="food-prog__count">100</span>
                        <span class="food-prog__name">Белки</span>
                    </div>   
                </div>
                <div class="food-prog__item">
                    <div class="food-prog__icon-wrap">
                        <img src="./img/fat.png" alt="fat" class="food-prog__icon">
                    </div>
                    <div class="food-prog__number">
                        <span class="food-prog__count">50</span>
                        <span class="food-prog__name">Жиры</span>
                    </div>   
                </div>
                <div class="food-prog__item">
                    <div class="food-prog__icon-wrap">
                        <img src="./img/bread.png" alt="bread" class="food-prog__icon">
                    </div>
                    <div class="food-prog__number">
                        <span class="food-prog__count">120</span>
                        <span class="food-prog__name">Углеводы</span>
                    </div>   
                </div>
                <div class="food-prog__item">
                    <div class="food-prog__icon-wrap">
                        <img src="./img/calories-calculator.png" alt="calculator" class="food-prog__icon">
                    </div>
                    <div class="food-prog__number">
                        <span class="food-prog__count">2000</span>
                        <span class="food-prog__name">Каллории</span>
                    </div>   
                </div>
               
            </div>
        </div>
    </div>
</section>
