<header class="header">
    <div class="header__wrap">
        <div class="header__logo-wrap">
            <a href="#" class="header__logo-link">
                <img src="./img/logo.png" alt="logo" class="header__logo-img">
            </a>    
            <div class="header__logo">
                <h1 class="header__logo-title"><a href="#">Home<span>fit</span></a></h1>
                <p class="header__logo-subtitle">company slogan</p>
            </div>
        </div>
        <div class="header__user">
                <div class="header__avatar-wrap">
                    <img src="./img/user.jpg" alt="user-icon" class="header__user-avatar">
                </div>
                <div class="header__user-info">
                    <span class="header__user-mame" id="user-name">Екатерина</span>
                    <span class="header__user-city" id="user-city">Москва</span>
                </div>
        </div>
        <div class="header__menu-user">
            <div class="header__menu-user-wrap-info">
                <div class="header__menu-user-info">
                    <a href="tel:+79500672371" class="header__menu-user-tel" id="user-tel">+7 (950) 067 23 71</a>
                    <a href="#">
                        <img src="./img/viber-xs.png" alt="viber" class="header__menu-user-viber">
                    </a>
                </div>    
                <div class="header__menu-user-dates">
                    <div class="header__menu-user-data">
                        <span class="header__menu-user-num">
                            133
                        </span>
                        <span class="header__menu-physiology">
                            Вес
                        </span>
                    </div>
                    <div class="header__menu-user-data">
                        <span class="header__menu-user-num">
                            173
                        </span>
                        <span class="header__menu-physiology">
                            Рост
                        </span>
                    </div>
                    <div class="header__menu-user-data">
                        <span class="header__menu-user-num">
                            26
                        </span>
                        <span class="header__menu-physiology">
                            Возраст
                        </span>
                    </div>
                </div>
            </div>
            <div class="header__menu-user-rate">
                <span class="header__menu-rate-title">Тариф</span>
                <div class="header__menu-user-rate-name">
                    <span id="rate-id">Maximum</span>
                    <span> - </span><span id="rate-cost">2990</span><span> руб/мес.</span>
                </div>
                <time class="header__menu-user-rate-date" id="rate-day" datetime="2021-10-31">31.10.2021</time>
            </div>
        </div>
        </div>
        <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line burger__line--center"></div>
            <div class="burger__line"></div>   
        </div>
        <div class="burger-wrap">
            <ul class="burger-wrap__links">
                <li>
                    <img src="./img/home.png" alt="home" class="nav__icon"> 
                    <a class="nav__link" href="#">Главная</a>
                </li>
                <li>
                    <img src="./img/programm.png" alt="programm" class="nav__icon">
                    <a class="nav__link" href="#">Программа питания</a>
                </li>
                <li>
                    <img src="./img/trainee.png" alt="trainee" class="nav__icon" style="height: 30px; width: 18px;">
                    <a class="nav__link nav__link--margin" href="#">Тренировка дня</a>
                </li>
                <li>
                    <img src="./img/report.png" alt="report" class="nav__icon"> 
                    <a class="nav__link" href="#">Отчеты</a>
                </li>
                <li>
                    <img src="./img/base.png" alt="base" class="nav__icon"> 
                    <a class="nav__link" href="#">База знаний</a>
                </li>
                <li>
                    <img src="./img/costs.png" alt="costs" class="nav__icon"> 
                    <a class="nav__link" href="#">Тарифы и оплата</a>
                </li>
                
            </ul>
        </div> 
    </div>

</header>
