<section class="current-rate">
    <div class="wrapper">
        <div class="current-rate__container">
            <div class="current-rate__about">
                <div class="current-rate__img-wrap">
                    <img src="./img/dumbbell.png" alt="dumbbell" class="current-rate__img">
                </div>
                <div class="current-rate__name-wrap">
                    <h4 class="current-rate__about-title">
                        Текущий тариф
                    </h4>
                    <p class="current-rate__name">
                        Maximum 
                    </p>
                    <span class="current-rate__date">
                        До
                        <time datetime="2020.09.12">12.09.2020</time>
                    </span>
                </div>
            </div>
            <div class="current-rate__balance">
                <h4 class="current-rate__balance-title">Текущий баланс</h4>
                <span class="current-rate__num">
                    <span class="current-rate__currency">1000 </span>рублей
                </span>
                <form action="POST" method="" class="current-rate__refill">
                    <label for="refill">Пополнение баланса</label>
                    <div class="current-rate__refill-wrap">
                        <input type="number" class="current-rate__input" placeholder="Введите сумму" required>
                        <input type="submit" class="current-rate__btn-refill" value="Пополнить">
                    </div>
                </form>
            </div>
            <div class="current-rate__change">
                <div class="current-rate__opt">
                    <h4 class="current-rate__opt-title">Выбор тарифного плана</h4>
                    <div class="current-rate__opt-radio">
                        <input type="radio" name="rate" id="lite" class="current-rate__opt-rad">
                        <label for="lite"> Lite <span>990</span> руб/мес.</label>
                    </div>
                    <div class="current-rate__opt-radio">
                        <input type="radio" name="rate" id="base" class="current-rate__opt-rad" checked> 
                        <label for="base">Base <span>1490</span> руб/мес.</label>
                    </div>
                    <div class="current-rate__opt-radio">
                        <input type="radio" name="rate" id="maximum" class="current-rate__opt-rad">
                        <label for="maximum"> Maximum <span>2990</span> руб/мес.</label>
                    </div>
                </div>
                <input type="submit" value="Купить" class="current-rate__btn-buy">
            </div>
        </div>
    </div>    
        <div class="current-rate__carts">
            <div class="current-rate__cart">
                <span class="current-rate__cart-val">₽<span>2990</span>/мес.</span>
                <span class="current-rate__cart-name">MAXIMUM</span>
                <span class="current-rate__cart-descript">Доступ к программе online тренировок</span>
                <span class="current-rate__cart-descript">Индивидуальная программа питания</span>
                <span class="current-rate__cart-descript">Индивидуальный рацион питания</span>
                <span class="current-rate__cart-descript">Личный тренер в мессенджере</span>
                <span class="current-rate__cart-descript">Личный диетолог в мессенджере</span>
                <span class="current-rate__cart-descript">Индивидуальная работа над 
                    проблемными местами</span>
                <span class="current-rate__cart-descript">Проверка еженедельных отчетов</span>
                <span class="current-rate__cart-descript">Корректировка программы питания 
                    и тренировок</span>
                <input type="button" value="купить тариф" class="current-rate__btn-buy-another">
            </div>
            <div class="current-rate__cart">
                <span class="current-rate__cart-val">₽<span>2990</span>/мес.</span>
                <span class="current-rate__cart-name">MAXIMUM</span>
                <span class="current-rate__cart-descript">Доступ к программе online тренировок</span>
                <span class="current-rate__cart-descript">Индивидуальная программа питания</span>
                <span class="current-rate__cart-descript">Индивидуальный рацион питания</span>
                <span class="current-rate__cart-descript">Личный тренер в мессенджере</span>
                <span class="current-rate__cart-descript">Личный диетолог в мессенджере</span>
                <span class="current-rate__cart-descript">Индивидуальная работа над 
                    проблемными местами</span>
                <span class="current-rate__cart-descript">Проверка еженедельных отчетов</span>
                <span class="current-rate__cart-descript">Корректировка программы питания 
                    и тренировок</span>
                <input type="button" value="купить тариф" class="current-rate__btn-buy-another">
            </div>
            <div class="current-rate__cart">
                <span class="current-rate__cart-val">₽<span>2990</span>/мес.</span>
                <span class="current-rate__cart-name">MAXIMUM</span>
                <span class="current-rate__cart-descript">Доступ к программе online тренировок</span>
                <span class="current-rate__cart-descript">Индивидуальная программа питания</span>
                <span class="current-rate__cart-descript">Индивидуальный рацион питания</span>
                <span class="current-rate__cart-descript">Личный тренер в мессенджере</span>
                <span class="current-rate__cart-descript">Личный диетолог в мессенджере</span>
                <span class="current-rate__cart-descript">Индивидуальная работа над 
                    проблемными местами</span>
                <span class="current-rate__cart-descript">Проверка еженедельных отчетов</span>
                <span class="current-rate__cart-descript">Корректировка программы питания 
                    и тренировок</span>
                <input type="button" value="купить тариф" class="current-rate__btn-buy-another">
            </div>
        </div>
</section>
