<section class="about-club">
    <div class="wrapper">
        <h2 class="about-club__title">
            ЖЕНСКИЙ ОНЛАЙН
            ФИТНЕС КЛУБ <span>HOME FIT</span>
            С АВТОРСКОЙ СИСТЕМОЙ
            ТРЕНИРОВОК И ПИТАНИЯ
        </h2>
        <p class="about-club__subtitle">Система упражнений и питания на основе знаний<br>
            физиологии, гормонов, обмена веществ женщин</p>
        <p class="about-club__text">
            В среднем, женщины худеют на 5-8 кг за 1
месяц, занимаясь 3 раза в неделю по 40 минут
        </p> 
        <div class="about-club__first-bl">
            <div class="about-club__first-wrap">
                <!-- <img src="./img/cheerful-fit-girl-working-out.jpg" alt="woman" class="about-club__first-img"> -->
                <picture class="about-club__first-img">
                    <source srcset="./img/cheerful-fit-girl-working-out-xl.jpg" media="(min-width: 1500px)">
                    <source srcset="./img/cheerful-fit-girl-working-out.jpg">
                    <img srcset="./img/cheerful-fit-girl-working-out.jpg" alt="woman">
                </picture>
            </div>
            <div class="about-club__first-texts">
                <h6 class="about-club__first-title">Идеальный фитнес клуб для женщин</h6>
                <p class="about-club__first-text">Все физические упражнения, программы питания
                    разрабатывались целенаправленно с упором
                    на организм женщины.</p>
            </div>
        </div>   
        <div class="about-club__second-bl">
            <div class="about-club__second-wrap">
                <!-- <img src="./img/girl-using-smartwatch.jpg" alt="woman" class="about-club__second-img"> -->
                <picture class="about-club__second-img">
                    <source srcset="./img/girl-using-smartwatch-xl.jpg" media="(min-width: 1500px)">
                    <source srcset="./img/girl-using-smartwatch.jpg">
                    <img srcset="./img/girl-using-smartwatch.jpg" alt="woman">
                </picture>
            </div>
            <div class="about-club__second-texts">
                <h6 class="about-club__second-title">Женщины нам говорят</h6>
                <p class="about-club__second-text">Что они сбрасывают вес лучше, чем когда они
                    ходили в обычный фитнес-клуб или занимались
                    самостоятельно дома.</p>
            </div>
            <img src="./img/bottle.png" alt="bottle" class="about-club__bottle">
        </div>   
    </div>
</section>
