<section class="appointment appointment--second">
    <img src="./img/appointment-bg.png" alt="woman" class="appointment__bg">
    <div class="wrapper">
        <div class="appointment__item">
            <p class="appointment__title">Вам понравится <span class="appointment__marker"> 7 дней</span><br>
                <span class="appointment__bold">бесплатного доступа</span></p>
            <span>Заберите его прямо сейчас
            </span>
            <span>Вы ни чем не рискуете</span>
            <span>Пользуетесь 7 дней и решаете<br>
                продолжать или нет</span>
        </div>
        <div class="appointment__recording">
            <div class="appointment__rec-title">Запишитесь на 7 дней
                бесплатного доступа в
                онлайн фитнес клуб HOME FIT</div>
            <a href="#" class="appointment__link">Записаться</a>
        </div>
    </div> 
</section>
