<section class="benefit">
    <div class="wrapper">
        <h2 class="benefit__title">
            Кроме этого, вы легко получите неочевидные вещи
        </h2>
        <div class="benefit__items">
            <div class="benefit__item">
                <div class="benefit__wrap-img">
                    <!-- <img src="./img/benefit1.jpg" alt="woman" class="benefit__img"> -->
                    <picture class="benefit__img">
                        <source srcset="./img/benefit1-xl.jpg" media="(min-width: 1500px)">
                        <source srcset="./img/benefit1.jpg">
                        <img srcset="./img/benefit1.jpg" alt="woman">
                    </picture>
                </div>
                <p class="benefit__text">Получите внимание мужчин, выйдете замуж,
                    нормализуете отношения с мужем</p>
            </div>
            <div class="benefit__item benefit__item--second">
                <div class="benefit__wrap-img">
                    <!-- <img src="./img/benefit2.jpg" alt="woman" class="benefit__img"> -->
                    <picture class="benefit__img">
                        <source srcset="./img/benefit2-xl.jpg" media="(min-width: 1500px)">
                        <source srcset="./img/benefit2.jpg">
                        <img srcset="./img/benefit2.jpg" alt="woman">
                    </picture>
                </div>
                <p class="benefit__text benefit__text--second">Сделаете карьерный рост на работе благодаря
                    повышенной самооценки и избавления от комплексов</p>
            </div>
        </div>
    </div>
</section>
