<footer class="footer">
    <div class="wrapper">
        <div class="footer-wrap">
            <div class="footer__titles">
                <div class="header__logo-wrap">
                    <a href="#" class="header__logo-link">
                        <img src="./img/logo.png" alt="logo" class="header__logo-img">
                    </a>    
                    <div class="header__logo">
                        <h1 class="header__logo-title"><a href="#">Home<span>fit</span></a></h1>
                        <p class="header__logo-subtitle">company slogan</p>
                    </div>
                </div>
                <p class="footer__text">
                    HOME-FIT - первый онлайн фитнес-клуб для женщин с ежедневными тренировками, персональным расчётом питания, личным тренером и диетологом.
                </p>
            </div>
            <div class="footer__links">
                <div class="footer__insta">
                    <span class="footer__inst">Мы в инстаграм</span>
                    <a href="#" class="footer__link">
                        <img src="./img/instagram.png" alt="instagram">
                    </a>
                </div>
                <a href="#" class="footer__cabinet">Личный кабинет</a>
            </div>
        </div>
        <div class="footer__docs">
                    <p class="footer__comp">
                        © Название компании 2008-2018 г.
                    </p>
                    <a href="#" class="footer__policity">Политика конфиденциальности</a>
                    <a href="#" class="footer__agreement">Пользовательское соглашение</a>
        </div>
    </div>
</footer>
