<header class="header">
    <div class="header__wrap">
        <div class="header__logo-wrap">
            <a href="#" class="header__logo-link">
                <img src="./img/logo.png" alt="logo" class="header__logo-img">
            </a>    
            <div class="header__logo">
                <h1 class="header__logo-title"><a href="#">Home<span>fit</span></a></h1>
                <p class="header__logo-subtitle">company slogan</p>
            </div>
        </div>
        <a href="#" class="header__link">
            Личный кабинет
        </a>
    </div>

</header>
