<section class="onlinefit">
    <div class="wrapper">
        <div class="onlinefit__wrap">
            <h2 class="onlinefit__title">Уверенный комфорт в
                похудении не выходя из дома</h2>
            <p class="onlinefit__subtitle">6 неоспоримых выгод онлайн фитнеса перед обычным</p>
            <ul class="onlinefit__items">
                <li class="onlinefit__item">
                    <div class="onlinefit__wrap-img">
                        <img src="./img/calendar.png" alt="icon">
                    </div>
                    <div class="onlinefit__content">
                        <h6 class="onlinefit__cont-title">
                            Ты сама планируешь свой график
                        </h6>
                        <p class="onlinefit__text">
                            Не нужно подстраиваться под время работы тренеров,<br> расписание групповых занятий в фитнес-клубах.<br> Занимаешься когда тебе удобно
                        </p>
                    </div>
                </li>
                <li class="onlinefit__item">
                    <div class="onlinefit__wrap-img">
                        <img src="./img/time.png" alt="icon">
                    </div>
                    <div class="onlinefit__content">
                        <h6 class="onlinefit__cont-title">
                            Ты экономишь время и деньги
                        </h6>
                        <p class="onlinefit__text">
                            Тебе не нужно тратить время и деньги на проезд и<br> покупать дорогостоящий абонемент в фитнес-клуб.<br>Суммы могут доходить до 100 000 рублей
                        </p>
                    </div>
                </li>
                <li class="onlinefit__item">
                    <div class="onlinefit__wrap-img">
                        <img src="./img/dress.png" alt="icon">
                    </div>
                    <div class="onlinefit__content">
                        <h6 class="onlinefit__cont-title">
                            Ты сама выбираешь удобную одежду
                        </h6>
                        <p class="onlinefit__text">
                            Не нужно тратить свои деньги на дорогостоящую<br> модную фитнес-форму и обувь
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="onlinefit__items  onlinefit__items--marg">
            <li class="onlinefit__item">
                <div class="onlinefit__wrap-img">
                    <img src="./img/soap.png" alt="icon">
                </div>
                <div class="onlinefit__content">
                    <h6 class="onlinefit__cont-title">
                        Ты уверенна в гигиене
                    </h6>
                    <p class="onlinefit__text">
                        Ты принимаешь свой душ, без неприязни в<br>
                        полной гармонии и радости. Не переживаешь<br>
                        по вопросам чистоты
                    </p>
                </div>
            </li>
            <li class="onlinefit__item">
                <div class="onlinefit__wrap-img">
                    <img src="./img/map.png" alt="icon">
                </div>
                <div class="onlinefit__content">
                    <h6 class="onlinefit__cont-title">
                        Ты занимаешься в любом месте планеты
                    </h6>
                    <p class="onlinefit__text">
                        Можешь уехать в любую точку мира и заниматься<br> по присмотром экспертов. Нужен лишь<br> компьютер и интернет
                    </p>
                </div>
            </li>
            <li class="onlinefit__item">
                <div class="onlinefit__wrap-img">
                    <img src="./img/along.png" alt="icon">
                </div>
                <div class="onlinefit__content">
                    <h6 class="onlinefit__cont-title">
                        Ты чувствуешь себя уверенно
                    </h6>
                    <p class="onlinefit__text">
                        На тебя не смотрят сотни людей,не<br> стесняешься своего тела
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
