<section class="statement">
    <img src="./img/statement-bg.png" alt="woman" class="statement__bg">
    <div class="wrapper">
        <h2 class="statement__title">
            Почему мы <span>уверенно</span><br> об этом заявляем
        </h2>
        <div class="statement__items">
            <div class="statement__item">
                <div class="statement__wrap">
                    <img src="./img/statement-icon1.png" alt="icon" class="statement__icon">
                </div>
                <div class="statement__content">
                    <p class="statement__text">Мы видим реальные<br> результаты от женщин</p>
                    <a href="#" class="statement__link">Смотреть отзывы</a>
                </div>
            </div>
            <div class="statement__item">
                <div class="statement__wrap">
                    <img src="./img/statement-icon2.png" alt="icon" class="statement__icon">
                </div>
                <div class="statement__content">
                    <p class="statement__text">Личные программы от<br> дипломированных специалистов<br> Фитнес тренер,диетолог,куратор</p>
                </div>
            </div>
            <div class="statement__item">
                <div class="statement__wrap">
                    <img src="./img/statement-icon3.png" alt="icon" class="statement__icon">
                </div>
                <div class="statement__content">
                    <p class="statement__text">Постоянный контроль и корректировки<br>
                        упражнений, питания. Всегда можете<br>
                        спросить совета у эксперта</p>
                </div>
            </div>
        </div>
        <div class="statement__posit">
            <p class="statement__description">
                У нас Вы получаете не только
                красивое тело, Вы получаете мечту быть любимой и успешной женщиной
            </p>
        </div>
    </div>
</section>
