<section class="steps">
    <div class="popup" id="trainer">
        <div class="popup__bg">
            <div class="wrapper">
                <img class="popup__img" src="./img/popup-girl.png" alt="girl">
                <span class="popup__close">X</span>
                <h2 class="popup__title">
                    С вами будет работать дипломированный тренер
                </h2>
                <span class="popup__user">
                    Марина Иванова
                </span>
                <ul class="popup__lists">
                    <li class="popup__list"> Имеет высшее образование
                        в сфере физической культуры.</li>
                    <li class="popup__list">Окончила РГУФКСМиТ
                        (Российский государственный
                        университет физической культуры,
                        спорта, молодежи и туризма) с
                        отличием, по специальности «Фитнес и аэробика».</li>
                    <li class="popup__list">Дипломированный диетолог-нутрициолог.</li>
                    <li class="popup__list">Кандидат в мастера спорта по кикбоксингу.</li>
                    <li class="popup__list">Сертифицированный инструктор по Cross Core и Iron System.<br>
                        Международный сертификат WICF.<br>
                        Участник семинара Релакс-тренинг (Wellcom).  </li>
                    <li class="popup__list">Опыт работы в фитнес-индустрии — 7 лет.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup" id="plan">
        <div class="popup__bg popup__bg--plan">
            <section class="schedule">
                <span class="popup__close">X</span>
                <div class="schedule-xl__wrap">
                        <h2 class="schedule__title">Расписание тренировок</h2>
                        <div class="schedule__table">
                            <div class="schedule__col">
                                <div class="schedule__day">Пн</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                            </div>
                            <div class="schedule__col">
                                <div class="schedule__day">Вт</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-32%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-32%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-32%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                            </div>
                            <div class="schedule__col">
                                <div class="schedule__day">Ср</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-49%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-49%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-49%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="schedule__col">
                                <div class="schedule__day">Чт</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-65%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-65%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/practice.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-65%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/practice.png" alt="icon" class="popup__icon">
                                        <img src="./img/practice.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                            </div>
                            <div class="schedule__col">
                                <div class="schedule__day">Пт</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-81%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-81%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/gym.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-81%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/gym.png" alt="icon" class="popup__icon">
                                        <img src="./img/gym.png" alt="icon" class="popup__img">
                                    </div>
                                </div>
                            </div>
                            <div class="schedule__col">
                                <div class="schedule__day">Сб</div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-95%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-95%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                                <div class="schedule__icon-wrap">
                                    <img src="./img/exercise.png" alt="icon" class="schedule__icon">
                                    <div class="schedule__popup popup" style="transform: translateX(-95%)">
                                        <span class="popup__title">Силовая тренировка</span>
                                        <p class="popup__text">Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!</p>
                                        <img src="./img/exercise.png" alt="icon" class="popup__icon">
                                        <img src="./img/exercise.png" alt="icon" class="popup__img">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        </div>
    </div>
    <div class="popup" id="food">
        <div class="popup__bg popup__bg--plan">
            <div class="foodsTabs">
                <span class="popup__close">X</span>
                <div class="foodOfDay__img-wrap">
                    <picture>
                        <source srcset="./img/foods-xl.jpg"" media="(min-width: 768px)">
                        <img src="./img/foods.jpg" alt="food" class="foodOfDay__img">
                    </picture>
                </div>
                <div class="foodOfDay__item">
                    <p class="foodOfDay__title"><b>Второй завтрак.</b> Яичница с помидором и болгарским перцем. Готовить на сковороде с антипригарным покрытием. Хлебцы с сыром фета и помидором. На хлебец выкладываем сыр и помидор.</p>
                    <div class="foodOfDay__table">
                        <div class="foodOfDay__item-title-line">
                            <span class="foodOfDay__table-title">Продукт</span>
                            <span class="foodOfDay__table-title">Вес</span>
                            <span class="foodOfDay__table-title">Б</span>
                            <span class="foodOfDay__table-title">Ж</span>
                            <span class="foodOfDay__table-title">У</span>
                            <span class="foodOfDay__table-title">К</span>
                        </div>    
                        <div class="foodOfDay__item-data">
                            <span class="foodOfDay__table-data">Овсяные хлопья</span>
                            <span class="foodOfDay__table-data">60</span>
                            <span class="foodOfDay__table-data">7.2</span>
                            <span class="foodOfDay__table-data">3.6</span>
                            <span class="foodOfDay__table-data">37.2</span>
                            <span class="foodOfDay__table-data">210</span>
                        </div>
                        <div class="foodOfDay__item-data">
                            <span class="foodOfDay__table-data">Овсяные хлопья</span>
                            <span class="foodOfDay__table-data">60</span>
                            <span class="foodOfDay__table-data">7.2</span>
                            <span class="foodOfDay__table-data">3.6</span>
                            <span class="foodOfDay__table-data">37.2</span>
                            <span class="foodOfDay__table-data">210</span>
                        </div>
                        <div class="foodOfDay__item-data">
                            <span class="foodOfDay__table-data">Овсяные хлопья</span>
                            <span class="foodOfDay__table-data">60</span>
                            <span class="foodOfDay__table-data">7.2</span>
                            <span class="foodOfDay__table-data">3.6</span>
                            <span class="foodOfDay__table-data">37.2</span>
                            <span class="foodOfDay__table-data">210</span>
                        </div>
                        <div class="foodOfDay__item-data">
                            <span class="foodOfDay__table-data">Овсяные хлопья</span>
                            <span class="foodOfDay__table-data">60</span>
                            <span class="foodOfDay__table-data">7.2</span>
                            <span class="foodOfDay__table-data">3.6</span>
                            <span class="foodOfDay__table-data">37.2</span>
                            <span class="foodOfDay__table-data">210</span>
                        </div>
                        <div class="foodOfDay__item-title-line">
                            <span class="foodOfDay__table-title">Итого</span>
                            <span class="foodOfDay__table-title"></span>
                            <span class="foodOfDay__table-title">3.2</span>
                            <span class="foodOfDay__table-title">3.8</span>
                            <span class="foodOfDay__table-title">37.2</span>
                            <span class="foodOfDay__table-title">210</span>
                        </div> 
                        
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="popup" id="video">
        <div class="popup__bg popup__bg--video">
            <div class="wrapper">
                <span class="popup__close">X</span>
                <div class="video__items">
                    <div class="video__item">
                        <span class="video__title">Название</span>
                        <video>
                            <source src="#">
                        </video>
                        <p class="video__description">Описание</p>
                    </div>
                    <div class="video__item">
                        <span class="video__title">Название</span>
                        <video>
                            <source src="#">
                        </video>
                        <p class="video__description">Описание</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="nutritionist">
        <div class="popup__bg">
            <div class="wrapper">
                <img class="popup__img" src="./img/popup-girl.png" alt="girl">
                <span class="popup__close">X</span>
                <h2 class="popup__title">
                    С вами будет работать дипломированный тренер
                </h2>
                <span class="popup__user">
                    Марина Иванова
                </span>
                <ul class="popup__lists">
                    <li class="popup__list"> Имеет высшее образование
                        в сфере физической культуры.</li>
                    <li class="popup__list">Окончила РГУФКСМиТ
                        (Российский государственный
                        университет физической культуры,
                        спорта, молодежи и туризма) с
                        отличием, по специальности «Фитнес и аэробика».</li>
                    <li class="popup__list">Дипломированный диетолог-нутрициолог.</li>
                    <li class="popup__list">Кандидат в мастера спорта по кикбоксингу.</li>
                    <li class="popup__list">Сертифицированный инструктор по Cross Core и Iron System.<br>
                        Международный сертификат WICF.<br>
                        Участник семинара Релакс-тренинг (Wellcom).  </li>
                    <li class="popup__list">Опыт работы в фитнес-индустрии — 7 лет.</li>
                </ul>
            </div>
        </div>
    </div>        
    <div class="popup" id="curator">
        <div class="popup__bg">
            <div class="wrapper">
                <img class="popup__img" src="./img/popup-girl.png" alt="girl">
                <span class="popup__close">X</span>
                <h2 class="popup__title">
                    С вами будет работать дипломированный тренер
                </h2>
                <span class="popup__user">
                    Марина Иванова
                </span>
                <ul class="popup__lists">
                    <li class="popup__list"> Имеет высшее образование
                        в сфере физической культуры.</li>
                    <li class="popup__list">Окончила РГУФКСМиТ
                        (Российский государственный
                        университет физической культуры,
                        спорта, молодежи и туризма) с
                        отличием, по специальности «Фитнес и аэробика».</li>
                    <li class="popup__list">Дипломированный диетолог-нутрициолог.</li>
                    <li class="popup__list">Кандидат в мастера спорта по кикбоксингу.</li>
                    <li class="popup__list">Сертифицированный инструктор по Cross Core и Iron System.<br>
                        Международный сертификат WICF.<br>
                        Участник семинара Релакс-тренинг (Wellcom).  </li>
                    <li class="popup__list">Опыт работы в фитнес-индустрии — 7 лет.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup" id="bigImg">
        <div class="popup__bg popup__bg--bigimg">
            <div class="wrapper">
                <span class="popup__close popup__close--bigimg">X</span>
                <div class="bigimg">
                    <img src="#" alt="picture" class="bigimg__img">
                </div>
            </div>
        </div>
    </div>
        
    <div class="wrapper">
        <div class="steps__head">
            <h2 class="steps__title-main" id="title"><span>4</span>шага к идеальной фигуре
                с нашим онлайн фитнес
                клубом</h2>
            <div class="steps__btns">
                <div class="steps__btn active">
                    <span class="steps__btn-title">ШАГ 0</span>
                    <span class="steps__btn-subtitle active">интервью</span>
                </div>
                <div class="steps__btn" id="btn1">
                    <span class="steps__btn-title">ШАГ 1</span>
                    <span class="steps__btn-subtitle">упражнения</span>
                </div>
                <div class="steps__btn" id="btn2">
                    <span class="steps__btn-title">ШАГ 2</span>
                    <span class="steps__btn-subtitle">питание</span>
                </div>
                <div class="steps__btn">
                    <span class="steps__btn-title" id="btn3">ШАГ 3</span>
                    <span class="steps__btn-subtitle">контроль</span>
                </div>
            </div>
        </div>
        <div class="steps__items">
            <div class="steps__item-one steps__item">
                <img class="steps__icon-chat" src="./img/chats.png" alt="icon">
                <h6 class="steps__title">ШАГ 0</h6>
                <p class="steps__subtitle">Эксперт проводит интервью</p>
                <ul>
                    <li class="steps__list">Определяет физическое состояние</li>
                    <li class="steps__list">Смотрит какой опыт похудения уже был</li>
                    <li class="steps__list">Узнает, есть ли запреты и особенности
                        по здоровью</li>
                </ul>
                <div class="steps__block">
                    <p class="steps__text">
                        На основе этого выстраивается программа физической нагрузки и режим питания
                    </p>
                </div>
                <span class="steps__link" id="toStep1">Следующий шаг</span>
                <img src="./img/step0-bg.jpg" alt="woman" class="steps__bg">
            </div>
            <div class="steps__item-two steps__item">
                <!-- <img class="steps__two-bg" src="../img/young-lady-doing-arm-1.jpg" alt="woman"> -->
                <picture class="steps__two-bg">
                    <source srcset="./img/young-lady-doing-arm-xl.jpg" media="(min-width: 1820px)">
                    <source srcset="./img/young-lady-doing-arm-1.jpg">
                    <img srcset="./img/young-lady-doing-arm-1.jpg" alt="woman">
                </picture>
                <div class="steps__block-top">
                    <h6 class="steps__title">ШАГ 1</h6>
                    <p class="steps__subtitle-two">Физические упражнения без издевательства на телом</p>
                    <p class="steps__text-two">Исходя их целей тренер подбирает упражнения, подходящие
                        по состоянию организама</p>
                    <a href="#" class="steps__link-cab">Как выглядит кабинет</a>
                    <div class="steps__cabs-wrap">
                        <div class="steps__cabs">
                            <div class="steps__slides-cab slider-class">
                                <div class="steps__slide-cab">
                                    <div>
                                        <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                    </div>
                                </div>
                                <div class="steps__slide-cab">
                                    <div>
                                        <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                    </div>
                                </div>
                                <div class="steps__slide-cab">
                                    <div>
                                        <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                    </div>
                                </div>
                                <div class="steps__slide-cab">
                                    <div>
                                        <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                    </div>
                                </div>
                            </div>
                            <div class="steps__cab-links">
                                <div class="steps__cab-wrap">
                                    <img src="./img/calendar2.png" alt="calendar2" class="steps__cab-icon">
                                    <span class="steps__cab-link" id="plan-btn">Пример расписания</span>
                                </div>
                                <div class="steps__cab-wrap">
                                    <img src="./img/info.png" alt="icon" class="steps__cab-icon">
                                    <span class="steps__cab-link" id="trainer-btn">Информация о тренере</span>
                                </div>
                                <div class="steps__cab-wrap">
                                    <img src="./img/play-icon.png" alt="youtube" class="steps__cab-icon">
                                    <span class="steps__cab-link" id="video-btn">Смотрите примеры занятий</span>
                                </div>
                            </div> 
                        </div>
                        <div class="steps__workouts">
                            <div class="steps__workout">
                                <h6 class="steps__workout-title">
                                    Подходят новичкам и профи
                                </h6>
                                <p class="steps__workout-text">
                                    Упражнения делятся на 3 уровня подготовленности<br>Каждый будет заниматься в своем ритме без надрыва
                                </p>
                            </div>
                            <div class="steps__workout">
                                <h6 class="steps__workout-title">
                                    Не занимают много времени
                                </h6>
                                <p class="steps__workout-text">
                                    Упражнения длятся по 30-40 минут.<br>Это достаточно для всех категорий подготовленности
                                </p>
                            </div>
                            <div class="steps__workout">
                                <h6 class="steps__workout-title">
                                    Выполнять без покупки дополнительного оборудования
                                </h6>
                                <p class="steps__workout-text">
                                    Для 99% упражнений нужен будет коврик и удобная обувь
                                </p>
                            </div>
                            <div class="steps__workout">
                                <h6 class="steps__workout-title">
                                    Делать можно в любое время
                                </h6>
                                <p class="steps__workout-text">
                                    Вы не привязаны ко времени и погоде за окном.<br>
                                    Вам не надо никуда ехать, торчать в пробках, трястись в транспорте
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="steps__format">
                    <img class="steps__format-icon" src="./img/gerl-icon.png" alt="icon">
                    <p class="steps__format-title">
                        Формат упражений
                    </p>
                    <div class="steps__format-items">
                        <p class="steps__format-item">
                            Тренер показывает, объясняет технику выполнения упражнений выполняя их сам
                        </p>
                        <p class="steps__format-item">
                            Все делается под счет,  под повторения голосом тренера. Вы просто повторяете за ним
                        </p>
                        <p class="steps__format-item">
                            Тренер выполняет сам все упражнения, которые присутствуют в этом комплексе
                        </p>
                        <p class="steps__format-item">
                            Нет такого, что человек с экрана сказал «Делаем 20 раз», а сам стоит и ждет какое-то время, пока вы делаете
                        </p>
                    </div>
                </div>
                <div class="steps__about-items">
                    <div class="steps__about-item">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/noun-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/noun.png">
                                <img srcset="./img/noun.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <p class="steps__about-title">
                                Силовая тренировка
                            </p>
                            <p class="steps__about-descr">
                                Прокачивают мышцы, рисуют<br> красивый рельеф, подтягивают кожу
                            </p>
                        </div>
                    </div>
                    <div class="steps__about-item">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/noun2-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/noun2.png">
                                <img srcset="./img/noun2.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <p class="steps__about-title">
                                Функциональные
                            </p>
                            <p class="steps__about-descr">
                                Прорабатываются мышцы<br> задействованы в обычной жизни
                            </p>
                        </div>
                    </div>
                    <div class="steps__about-item">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/noun3-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/noun3.png">
                                <img srcset="./img/noun3.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <p class="steps__about-title">
                                Интервальные
                            </p>
                            <p class="steps__about-descr">
                                Для тех кому нужен быстрый<br> результат в похудении
                            </p>
                        </div>
                    </div>
                    <div class="steps__about-item">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/noun4-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/noun4.png">
                                <img srcset="./img/noun4.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <p class="steps__about-title">
                                Растяжка
                            </p>
                            <p class="steps__about-descr">
                                Растяжка мышц и связок<br> Позволяют держать тонус мышц
                            </p>
                        </div>
                    </div>
                    <div class="steps__about-item">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/noun5-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/noun5.png">
                                <img srcset="./img/noun5.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <p class="steps__about-title">
                                Кардио
                            </p>
                            <p class="steps__about-descr">
                                Нацелены на сжигание<br> подкожного и внутреннего жира
                            </p>
                        </div>
                    </div>
                    <div class="steps__about-item steps__about-item--marker">
                        <div class="steps__about-img-wrap">
                            <picture>
                                <source srcset="./img/play-white-xl.png" media="(min-width: 1820px)">
                                <source srcset="./img/play-white.png">
                                <img srcset="./img/play-white.png" alt="icon">
                            </picture>
                        </div>
                        <div class="steps__about-text">
                            <a href="#" class="steps__about-link">
                                Смотрите примеры занятий
                            </a>
                        </div>
                    </div>
                </div>
                <div class="steps__needs">
                    <p class="steps__needs-title">Что понадобится для занятий</p>
                    <p class="steps__needs-subtitle">Для 99% упражнений подойдут</p>
                    <div class="steps__needs-wrap">
                        <div class="steps__needs-items">
                            <div class="steps__needs-item">
                                <p>Мягкий коврик</p>
                                <picture>
                                    <source srcset="./img/rulon-xl.png" media="(min-width: 1820px)">
                                    <source srcset="./img/rulon.png">
                                    <img srcset="./img/rulon.png" alt="image">
                                </picture>
                            </div>
                            <div class="steps__needs-item">
                                <p>Спортивная обувь</p>
                                <picture>
                                    <source srcset="./img/nike-xl.png" media="(min-width: 1820px)">
                                    <source srcset="./img/nike.png">
                                    <img srcset="./img/play-white.png" alt="shoes">
                                </picture>
                            </div>
                        </div>
                        <a href="#title" id="toStep2" class="steps__link">Следующий шаг</a>
                    </div>
                </div>
            </div>
            <div class="steps__item-three steps__item">
                <img class="steps__three-bg" src="./img/step2-bg.png" alt="woman">
                <h6 class="steps__title">ШАГ 2</h6>
                <p class="steps__subtitle-two">Вкусная еда по составленому плану личным диетологом,
                    без крайностей и стрессов</p>
                <p class="steps__text-two">Исходя их целей, состояния здоровья, противопоказаний диетолог
                    подбирает продукты и составляет план питания на каждый день</p>
                <a href="#" class="steps__link-cab">Как выглядит кабинет</a>
                <div class="steps__cabs-wrap">
                    <div class="steps__cabs">
                        <div class="steps__slides-cab slide2 slider-class">
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                        </div>
                        <div class="steps__cab-links steps__cab-links--three">
                            <div class="steps__cab-wrap">
                                <img src="./img/calendar2.png" alt="calendar2" class="steps__cab-icon">
                                <span class="steps__cab-link" id="food-btn">Пример плана  питания</span>
                            </div>
                            <div class="steps__cab-wrap ">
                                <img src="./img/info.png" alt="icon" class="steps__cab-icon">
                                <span class="steps__cab-link" id="nutritionist-btn">Информация о диетологе</span>
                            </div>
                        </div> 
                    </div>
                    <div class="steps__workouts">
                        <img class="steps__workouts-icon1" src="./img/plate.png" alt="plate">
                        <img class="steps__workouts-icon2" src="./img/salat.png" alt="salat">
                        <img class="steps__workouts-icon3" src="./img/bottle-fit.png" alt="bottle">
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Вас не будет тошнить от однообразного меню 
                            </h6>
                            <p class="steps__workout-text">
                                Меню в котором блюда не повторяются,<br> вы едите разные продукты и блюда
                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Без голодовок и расстройства желудка
                            </h6>
                            <p class="steps__workout-text">
                                С нашим планом питания ты будешь всегда сытой.<br>Вас не будет мучать диарея, сжатие, вздутие и прочие расстройства
                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Продукты из обычного магазина
                            </h6>
                            <p class="steps__workout-text">
                                План питания составляется продуктами, которые можно купить<br> в обычном магазине
                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Подходит для питания дома, на работе в кафе
                            </h6>
                            <p class="steps__workout-text">
                                <span style="font-weight: 600;">На работе.</span> Берете подготовленную еду в боксах<br> <span style="font-weight: 600;">В кафе.</span> Спрашиваете данные по блюдам на количество белков,жиров,углеводов.<br> В каждом заведении такая<br>информация есть в свободном доступе
                            </p>
                        </div>
                        <a href="#title" id="toStep3" class="steps__link">Следующий шаг</a>
                    </div>
                </div>
            </div>
            <div class="steps__item-four steps__item">
                <img class="steps__four-bg" src="./img/step3-bg.png" alt="woman">
                <img class="steps__four-icon" src="./img/lup.png" alt="lup">
                <h6 class="steps__title">ШАГ 3</h6>
                <p class="steps__subtitle-two">Контроль личного куратора за вашим прогрессом</p>
                <p class="steps__text-four">
                    Контроль питания, физ. нагрузок очень важен для новичков<br>
                    Они не могут себя контролировать, следовать всем<br>
                    рекомендациям тренера и диетолога<br>
                    Результат получается когда ежедневно делаютсяя правильные
                    действия<br>
                    Без этого положительного результата жлать не стоит</p>
                <a href="#" class="steps__link-cab">Как выглядит кабинет</a>
                <div class="steps__cabs-wrap steps__cabs-wrap--step3">
                    <div class="steps__cabs">
                        <div class="steps__slides-cab slide3 slider-class">
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                            <div class="steps__slide-cab">
                                <div>
                                    <img src="./img/tarrifs.jpg" alt="tariffs" class="scale">
                                </div>
                            </div>
                        </div>
                        <div class="steps__cab-links">
                            <div class="steps__cab-wrap">
                                <img src="./img/calendar2.png" alt="calendar2" class="steps__cab-icon">
                                <a href="#" class="steps__cab-link" id="plan-btn">Пример отчета</a>
                            </div>
                            <div class="steps__cab-wrap">
                                <img src="./img/info.png" alt="icon" class="steps__cab-icon">
                                <span class="steps__cab-link" id="curator-btn">Информация о кураторе</span>
                            </div>
                        </div> 
                    </div>
                    <div class="steps__workouts steps__workouts--four">
                        <picture class="steps__messendger-icon" >
                            <source srcset="./img/phone-xl.png" media="(min-width: 1820px)">
                            <source srcset="./img/phone.png">
                            <img srcset="./img/phone.png" alt="phone">
                        </picture>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Заполняете отчет по питанию в кабинете и специальном<br> мобильном приложении
                            </h6>
                            <p class="steps__workout-text">
                                Ежеденевно вносите в приложение данные по количеству каллорий полученных за день.
                            </p>
                            <p class="steps__workout-text">
                                Еженедельно в кабинет вносите данные по объему талии,груди, бедер
                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Куратор проводит анализ данных
                            </h6>
                            <p class="steps__workout-text">
                                Ты получаешь рекомендации по проводимым тобой тренировкам и питанию. Анализируется каждый день, каждый прием пищи.
                            </p>
                            <p class="steps__workout-text">
                                По каждому дню, каждому приему даются комментарии,указываются ошибки

                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Корректирует программу питания
                            </h6>
                            <p class="steps__workout-text">
                                При необходимости корректирует программу питания,<br> если видит,что нет положительной динамики

                            </p>
                        </div>
                        <div class="steps__workout">
                            <h6 class="steps__workout-title">
                                Напомнит, если вы не сдали отчет вовремя
                            </h6>
                            <p class="steps__workout-text">
                                Будет требовать прислать дневник и заполнить отчет.<br>Если ты этого не сделала
                            </p>
                        </div>
                    </div>
                    <div class="steps__messendger">
                        <div class="steps__messendger-text">
                            <p class="steps__messendger-title">Как это выглядит в месcенджере?</p>
                            <p class="steps__messendger-subtitle">Общение с куратором проходит в мессенджерах Viber, Whatsapp</p>
                            <a href="#step5" class="steps__link steps__link--four-xl">Следующий шаг</a>
                        </div>
                        <div class="steps__messendger-items slider-class">
                            <div class="steps__messendger-item">
                                <img src="./img/chat-tel-xl.png" alt="chat" class="tel">
                            </div>
                            <div class="steps__messendger-item">
                                <img src="./img/chat-tel-xl.png" alt="chat" class="tel">
                            </div>
                            <div class="steps__messendger-item">
                                <img src="./img/chat-tel-xl.png" alt="chat" class="tel">
                            </div>
                            <div class="steps__messendger-item">
                                <img src="./img/chat-tel-xl.png" alt="chat" class="tel">
                            </div>
                            <div class="steps__messendger-item">
                                <img src="./img/chat-tel-xl.png" alt="chat" class="tel">
                            </div>
                        </div>
                    </div>
                    <a href="#step5" class="steps__link steps__link--four">Следующий шаг</a>
                </div>
            </div>
        </div>    
    </div>
</section>
