<section class="targets">
    <div class="wrapper">
        <h2 class="targets__title"><span class="targets__marker"><span style="font-size: 50px;">3</span> цели</span> легко и без надрыва
            достигающиеся в нашем
            онлайн фитнес клубе
        </h2>
        <div class="targets__content">
            <div class="targets__item">
                <span class="targets__num">1</span><span class="targets__text">Сбросить вес</span>
            </div>
            <div class="targets__item">
                <span class="targets__num">2</span><span class="targets__text">Набрать вес</span>
            </div>
            <div class="targets__item">
                <span class="targets__num">3</span><span   class="targets__text">Поддерживать тело в форме</span>
            </div>
            <img src="./img/gantelya.png" alt="gantelya" class="targets__img">
        </div>
    </div>
</section>
