<section class="why">
    <img src="./img/woman-water.png" alt="woman" class="why__bg">
    <div class="wrapper">
        <h2 class="why__title">Почему они не работают
            или дают временный
            результат?</h2>
        <h2 class="why__title why__title--xl">Мы понимаем, что кроме нас вам приходят предложения
            от обычных фитнес клубов, марафонов по похудению,
            курсов, тренингов</h2>
        <p class="why__subtitle">Мы понимаем, что кроме нас вам приходят предложения
            от обычных фитнес клубов, марафонов по похудению,
            курсов, тренингов</p>
        <p class="why__subtitle why__subtitle--xl">Почему они не работают
                или дают временный
                результат?</p>    
        <p class="why__span">Все просто</p>
        <div class="why__items">
            <div class="why__item">
                <img src="./img/why1.png" alt="icon">
                <span class="why__text">Пример расписания</span>
            </div>
            <div class="why__item">
                <img src="./img/why2.png" alt="icon" style="margin: 0 5px;">
                <span class="why__text">Нет личного постоянного<br>
                    контроля от экспертов</span>
            </div>
            <div class="why__item">
                <img src="./img/why3.png" alt="icon">
                <span class="why__text">Закладывается мотивация<br>
                    на быстрое похудение</span>
            </div>
            <div class="why__item">
                <img src="./img/why4.png" alt="icon">
                <span class="why__text">Процесс с надрывами на тело, с жестким<br>
                    режимом питания и физ. нагрузок</span>
            </div>
        </div>
    </div>
    <div class="why__block">
        <p class="why__block-text">Фитнес клуб только для женщин<br>
            прямо у вас дома</p>
    </div>
</section>
