<section class="about-food">
    <div class="about-food__items">
        <div class="about-food__item">
            <span class="about-food__count">1</span>
            <p class="about-food__name">Фитнес и питание <br>как единое целое</p>
        </div>
        <div class="about-food__item about-food__item--xs">
            
                <span class="about-food__count">3</span>
                <span class="about-food__name">Режим<br>тренировок</span>
                
        </div>
        <div class="about-food__item about-food__item--xs">
            
            
                <span class="about-food__count">4</span>
                <span class="about-food__name">Режим<br>  сна</span>
                
        </div>
        <div class="about-food__item">
            
            
                <span class="about-food__count">5</span>
                <span class="about-food__name">Как совмещать питание<br>  и тренировки с работой?</span> 
        </div>
        <div class="about-food__item about-food__item--xs">
            
            
                <span class="about-food__count">6</span>
                <span class="about-food__name">КБЖУ</span>
    
        </div>
        <div class="about-food__item about-food__item--xs">
            
            
                <span class="about-food__count">7</span>
                <span class="about-food__name">Жиросжигание</span>  
        </div>
        <div class="about-food__item">
            
            
                <span class="about-food__count">8</span>
                <span class="about-food__name">Как рассчитать суточное<br>потребление КБЖУ</span>               
        </div>
        <div class="about-food__item">
            
            
                <span class="about-food__count">9</span>
                <span class="about-food__name">Составляем рацион<br> питания </span>
                
        </div>
        <div class="about-food__item">
            
            
                <span class="about-food__count">10</span>
                <span class="about-food__name">Шаг за шагом <br>к  заветной цели </span>
                
        </div>
        
    </div>
    <div class="wrapper">
        <div class="about-food__description">
            <h2 class="about-food__title">Составляем рацион питания</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Составляем режим тренировок</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Составляем ружим сна</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Как совмещать питание</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">КБЖУ</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Жиросжигание</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Как рассчитать суточное  потребление КБЖУ</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Составляем рацион</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Шаг за шагом</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
        <div class="about-food__description">
            <h2 class="about-food__title">Составляем рацион питания</h2>
            <ul class="about-food__lists">Основные принципы при составлении рациона таковы:
                <li class="about-food__list">-главное – не превышать дневную норму калорий и потреблять рассчитанное количество белка;</li>
                <li class="about-food__list">80% дневной нормы белка должно приходиться на мясо и рыбу (в приоритете – говядина, красная рыба, тунец, индейка, курица), 20% – на молочные продукты 
                    и животные источники;</li>
                <li class="about-food__list">- при выборе углеводов предпочтение отдается сложным: гречка, овсянка, бобовые, макароны из твердых сортов пшеницы и пр.;</li>
                <li class="about-food__list">- обязательно употребление достаточного количества воды (из расчета 20-30 мл на 1 кг веса).</li>
            </ul>
            <p>Что касается вредностей, от которых так сложно отказаться, то ими можно (иногда!) заменять углеводы.</p>
            <p>Например: 100 г шоколада = 580 ккал = 170 г макарон.</p>
            <p>Помни, что в алкоголе также содержатся калории (в 1 грамме спирта – 7 ккал). То есть в 100 граммах крепкого 40-градусного напитка (водка, ром, виски) присутствует 280 ккал. Поэтому в день, когда ты употребляешь алкоголь, нужно уменьшить дневную норму углеводов до 40-50%, оставив белки и жиры в том же количестве. Остатки суточной калорийности доберешь из алкоголя. Помни, что чаще 2-х раз в неделю употреблять спиртное не рекомендуется. И это касается не только периода похудения!</p>
            <ul class="about-food__norm">Правильный рацион состоит из 5 приемов пищи с таким распределение суточной нормы калорийности:
                <li>- завтрак 20-25%;</li>
                <li>- второй завтрак 10-15%;</li>
                <li>- обед 30-35%;</li>
                <li>- полдник 10-15%;</li>
                <li>- ужин 20%;</li>
            </ul>
            <p>
                При этом до обеда нужно потреблять больше углеводов, а после – белков. Оптимально, если последний прием пищи будет практически полностью состоять из белков плюс немного жиров. То есть утром ты ешь каши, макароны, бутерброды на цельнозерновом хлебе; в обед – суп и второе (если суп овощной – то гарнир можно крупяной, и наоборот); на ужин – мясо или рыбу со свежими овощами. Вообще, свежие овощи можно добавлять к любому приему пищи! Перекусывай фруктами, творогом, йогуртом и другими вкусными полезностями (или полезными вкусностями – тут уж как хочешь).</p>
            <p>Вот примерный рацион нашей девушки, для которой мы выполняли расчеты чуть выше:</p>
            <p>Напомним, что нам необходимо уложиться в следующую программу питания: Б - 135, Ж - 60, У - 180, Ккал - 1830.</p>
            <p>Как рассчитать БЖУ продукта? Все достаточно просто - смотрим пищевую ценность продукта на упаковке и умножаем на тот вес, который будем потреблять.</p> 
            <p>Пример:</p>
            <p>У нас есть творог 5% жирности, пищевая ценность творога на 100 гр продукта следующая: Б - 16 гр, Ж - 5 гр, У - 3 гр, Ккал - 121. На 2й завтрак мы употребляем 120 грамм творога, а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 16 гр * 1.2 = 19 гр</span>
                <span>Жиры: 5 гр * 1,2 = 6 гр</span>
                <span>Углеводы: 3 гр * 1,2 = 3,6 гр</span>
                <span>Калории: 121 * 1,2 = 145 ккал</span>
            </p>
            <p>У нас есть макароны, пищевая ценность на 100 гр продукта следующая: Б - 14 гр, Ж - 2 гр, У - 69 гр, Ккал - 359. На обед мы употребляем 60 грамм макарон (взвешивать в сухом виде), а это значит, что:</p>
            <p class="about-food__composition">
                <span>Белки: 14 гр * 0.6 = 8,4 гр</span>
                <span>Жиры: 2 гр * 0.6 = 1,2 гр</span>
                <span>Углеводы: 69 гр * 0.6 = 41,8 гр</span>
                <span>Калории: 359 * 0.6 = 215 ккал</span>
            </p>   
        </div>
    </div>
</section>
