<div class="reg-bg">
    <section class="reg">
        <div class="reg__form-bg">
            <div class="wrapper reg__main">
                <div class="reg__header">
                    <img src="./img/logo.png" alt="logo" class="reg__logo-img">
                    <div class="reg__logo">
                        <h1 class="reg__logo-title">Home<span>fit</span></h1>
                        <p class="reg__logo-subtitle">company slogan</p>
                    </div>
                </div>
                <h2 class="reg__title">Регистрация</h2>
                <form action="POST" class="reg__form" id="reg-form">
                    <label for="reg-form" class="reg__form-label">
                        Введите данные
                    </label>
                    <input id="name" type="text" required placeholder="Имя" class="reg__input">
                    <input id="tel" type="number" required placeholder="Телефон" class="reg__input">
                    <input id="mail" type="mail" required placeholder="E-mail" class="reg__input">
                    <input id="city" type="text" required placeholder="Ваш город" class="reg__input">
                    <input type="submit" value="Зарегистрироваться" class="reg__btn">
                </form>
                <div class="reg__link-wrap">
                    <span>Уже зарегистрированы?</span>
                    <a href="#" class="reg__link-reg" target="_blank" rel="noopener noreferrer">Войти</a>
                </div>
            </div>
        </div>
        <div class="reg__footer">
            <div class="wrapper">
                <a href="mailto:info@home-fit.online">info@home-fit.online</a>
                <a href="#" class="reg__link-conf" target="_blank" rel="noopener noreferrer">Политика конфедициальности</a>
            </div>
        </div>
    </section>
</div>
