<section class="choice">
    <div class="wrapper">
        <div class="choice__wrap">
            <h2 class="choice__title">Выбор тренировки:</h2>
            <div class="choice__items">
                <div class="choice__item active">
                    <span>Силовая<br>  тренировка</span>
                </div>  
                <div class="choice__item">
                    <span>Табата<br>  (в разработке)</span>
                </div>  
                <div class="choice__item">
                    <span>Stretch</span>
                </div>  
            </div>
        </div>
    </div>

</section>
