<section class="data">
    <div class="wrapper" style="width: 100%;">
        <div class="data__wrap">
            <div class="data__items">
                <div class="data__item">
                    <div class="data__number">
                        <span class="data__count">2</span>
                        <span class="data__name">Круга</span>
                    </div>   
                </div>
                <div class="data__item">
                    <div class="data__number">
                        <span class="data__count"><span>  45</span> сек</span>
                        <span class="data__name">Отдых между упражнениями</span>
                    </div>   
                </div>
                <div class="data__item">
                    <div class="data__number">
                        <span class="data__count"><span>1-2</span> мин</span>
                        <span class="data__name">Отдых между кругами</span>
                    </div>   
                </div>
                <div class="data__item">
                    <div class="data__number">
                        <span class="data__count"><span>350</span> калл</span>
                        <span class="data__name">Расход калорий за тренировку</span>
                    </div>   
                </div>
               
            </div>
        </div>
    </div>
</section>
