<section class="tasks-day">
    <div class="wrapper wrapper--task">
        <div class="tasks-day__wrap">
            <div class="tasks-day__items">
                <div class="tasks-day__item first">
                    <img src="./img/legs.png" alt="legs" class="tasks-day__item-img">
                    <span class="tasks-day__name">Нижняя часть тела</span>
                    <span class="tasks-day__day">Ягодицы, бёдра, икры, мышцы кора</span>
                    <div class="tasks-day__text">
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Выпады в сторону</span>
                            <span class="tasks-day__val">x<span>15</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Планка переходящая в присед</span>
                            <span class="tasks-day__val">x<span>16</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Подъем на мыски + 3 пружины</span>
                            <span class="tasks-day__val">x<span>15</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Широкий присед в статике + 
                                "пальцы-пятка"</span>
                            <span class="tasks-day__val"><span>45</span> сек</span>
                        </div>
                    </div>
                </div>
                <div class="tasks-day__item">
                    <img src="./img/six-pack.png" alt="legs" class="tasks-day__item-img">
                    <span class="tasks-day__name">Верхняя часть тела</span>
                    <span class="tasks-day__day">Спина, грудь, поясница, трицепс, плечи,  мышцы кора</span>
                    <div class="tasks-day__text">
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Сведение лопаток лежа</span>
                            <span class="tasks-day__val">x<span>20</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Отжимания с касанием плеча</span>
                            <span class="tasks-day__val">x<span>16</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Гиперэкстензии</span>
                            <span class="tasks-day__val">x<span>20</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">Планка на предплечье 
                                - прямых руках</span>
                            <span class="tasks-day__val">x<span>7</span></span>
                        </div>
                    </div>
                    
                </div>
                <div class="tasks-day__item">
                    <img src="./img/weight-loss.png" alt="legs" class="tasks-day__item-img">
                    <span class="tasks-day__name">Пресс</span>
                    <span class="tasks-day__day">Мышцы пресса</span>
                    <div class="tasks-day__text">
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">"Кранч"</span>
                            <span class="tasks-day__val">x<span>20</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">"Ножницы"</span>
                            <span class="tasks-day__val">x<span>12</span></span>
                        </div>
                        <div class="tasks-day__item-val">
                            <span class="tasks-day__val-name">"Скрепка"</span>
                            <span class="tasks-day__val">x<span>20</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
