<div class="wrap-workout">
<section class="about-workout">
    <div class="wrapper">
        <div class="about-workout__wrap">
            <h2 class="about-workout__title">
                Силовая тренировка
            </h2>
            <p class="about-workout__description">
                Силовая тренировка для проработки всех крупных мышечных групп  с акцентом на нижнюю часть тела (мышцы ног и ягодиц). Тренировка помогает укрепить связки, суставы, улучшает рельеф, уменьшает жировой компонент. Хочешь увидеть результат в зеркале — следуй рекомендациям инструктора.  Нагрузка средней и высокой интенсивности. Измени свое тело за максимально короткое время!
            </p>
            <img src="./img/practice-xl.png" alt="icon" class="about-workout__icon">
            <img src="./img/practice-bg.png" alt="icon" class="about-workout__img">
        </div>
    </div>
</section>
</div>   
