<section class="perfomance">
    <div class="wrapper">
        <div class="perfomance__wrap">
            <div class="perfomance__lists">
                <h2 class="perfomance__title">Последовательность выполнения</h2>
                <div class="perfomance__text-wrap">
                     <picture class="perfomance__bg">
                        <source media="(min-width: 1150px") srcset="./img/young-woman-xl.png">
                        <img src="./img/young-woman.png" alt="young-woman" >
                    </picture>
                    <!-- <img src="./img/young-woman.png" alt="young-woman" class="perfomance__bg"> -->
                    <p class="perfomance__text">Внимательно прислушивайся к своему организму. Чувствуешь, что мало нагрузки - выполни 3й круг самостоятельно!Внимательно прислушивайся к своему организму. </p>
                    <p class="perfomance__text">Чувствуешь, что мало нагрузки - выполни 3й круг самостоятельно!Внимательно прислушивайся к своему организму. Чувствуешь, что мало нагрузки - выполни 3й круг самостоятельно!</p>
                </div>
            </div>
            <div class="perfomance__load">
                <h2 class="perfomance__title-ad">Мало нагрузки?</h2>
                <div class="perfomance__load-wrap">
                    <!-- <picture>
                        <source media="(min-width: 1150px") srcset="./img/fitness-equipment-xl.png">
                        <img src="./img/fitness-equipment.png" alt="workout" class="perfomance__bg perfomance__bg--ad">
                    </picture> -->
                    <p class="perfomance__text-ad">Внимательно прислушивайся к своему организму. Чувствуешь, что мало нагрузки - выполни 3й круг самостоятельно!</p>
                    <p class="perfomance__text-ad">Внимательно прислушивайся к своему организму.</p>
                </div>
            </div>
        </div>
    </div>
   
</section>
