<div class="auth-bg">
    <!-- <img src="./img/reg-bg.jpg" alt="girl">  -->
    <section class="auth">
        <div class="auth__form-bg">
            <div class="wrapper auth__main">
                <div class="auth__header">
                    <img src="./img/logo.png" alt="logo" class="auth__logo-img">
                    <div class="auth__logo">
                        <h1 class="auth__logo-title">Home<span>fit</span></h1>
                        <p class="auth__logo-subtitle">company slogan</p>
                    </div>
                </div>
                <h2 class="auth__title">Авторизация</h2>
                <form action="POST" class="auth__form">
                    <label for="tel" class="auth__form-label">
                        Введите номер телефона
                    </label>
                    <input id="tel" type="number" required placeholder="Телефон" class="auth__input">
                    <div class="auth__check-wrap">
                        <input type="checkbox" name="remember" id="check-me" class="auth__form-check">
                        <label class="auth__form-check-text">Запомнить меня</label>
                    </div>
                    <input type="submit" value="Войти" class="auth__btn">
                </form>
                <div class="auth__link-wrap">
                    <span>Еще не зарегистрированы?</span>
                    <a href="#" class="auth__link-reg" target="_blank" rel="noopener noreferrer">Регистрация</a>
                </div>
            </div>
        </div>
        <div class="auth__footer">
            <div class="wrapper">
                <a href="mailto:info@home-fit.online">info@home-fit.online</a>
                <a href="#" class="auth__link-conf" target="_blank" rel="noopener noreferrer">Политика конфедициальности</a>
            </div>
        </div>
    </section>
</div>
